

	@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

    
    
    .Usercontainer {
        height: 75vh;

    }

    .topcard{
        background-color: #8B8789;
        margin-top: -400px;
        width: 800px;
        border: none;
        border-radius: 15px;
        padding: 2px;
        position: relative;
        height: 200px;
    }

    .setupCard{
        margin-top: -100px;
        width: 800px;
        border: none;
        border-radius: 15px;
        padding: 5px;
        background-color: #fff;
        position: relative;
        height: 400px
    }

    .card{
        margin-top: -85px;
        width: 800px;
        border: none;
        border-radius: 15px;
        padding: 5px;
        background-color: #fff;
        position: relative;
        height: 400px;

    }

  

    .titleText h2 {
        font-size: 35px;
        color: #fff;

    }

    .topbody h2 {
        font-size: 15px;
        color: #fff;
    }


    
    .upper {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }
    
    .upper img {
        width: 780px;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
    }
    
    
    
    .profile img {
        height: 80px;
        width: 80px;
    }
    
    .profile {
        position: absolute;
        top: -50px;
        left: 43%;
        height: 90px;
        width: 90px;
        border: 3px solid #fff;
        border-radius: 50%
    }
    
    .follow {
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        height: 35px;
    }
    
    .stats span {
        font-size: 25px;
    }

    


